<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Information User</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/upload">Upload file</a>

    </div>
    <div class="information-user">
        <h2>Information User</h2>
        <table style="border-collapse: collapse; ">
            <tr>
                <td>First Name</td>
                <td>
                    <%= dataUser.firstName %>
                </td>
            <tr>
                <td>Last Name</td>
                <td>
                    <%= dataUser.lastName %>
                </td>
            </tr>
            <tr>
                <td>email</td>
                <td>
                    <%= dataUser.email %>
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <%= dataUser.address %>
                </td>

            </tr>

            </tr>
        </table>
        <a href="/">Quay lại</a>
    </div>
</body>

</html>